header { border: 1px solid red;}
.sait-bar{ border: 1px solid red;}
.content{ border: 1px solid red;}
.left{ border: 1px solid blue;}
.left-h4{ border: 1px solid aquamarine;}
.right{ border: 1px solid green;}
.line li{ border: 1px solid yellow;}
.title{ border: 1px solid red;}
.footer{ border: 1px solid red;}
